*.suo
*.sdf
*.opensdf
*.vs
*.o
*.a
*.dll
*.a
*.d
*.obj
*.o
*.bin
*.stackdump
*.exe
*.dep
*.dba
*.dbo
*.dla
*.dnm
*.lcp
*.map
*.user
*.idep
*.exp
*.lib
**/bin
**/obj
**/X64
**/Win32
**/ecoaLog.txt
*.time
*.ael
*.exe
*.gbtable
*.shadow
*.boottable
*.new
*.jar
!crt0*
Debug
Release
objects
obj
binaries
bin
packages
